<!Doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Catalogue</title>
<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- your app's js -->

</head>
<body ng-app="starter">
gto
<a href="/raspberry">raspberry</a>
<!-- 	Catalogue des produits -->
	<!-- 	spacer création style -->
<!-- 	<div class="container spacer"> -->
	<!-- 		<form> -->
	<!-- 			<label>Mot Clé:</label> <input type="text" ng-model="motCle"> -->
	<!-- 			<boutton ng-click="charger()">Chercher</boutton> -->
	<!-- 		</form> -->
<!-- 	</div> -->
<!-- 	<a href="#/home">rabah</a> -->

	<!-- 	<div class="container spacer"> -->
	<!-- 		<ul> -->
	<!-- 			<li ng-repeat=""></li> -->
	<!-- 		</ul> -->
	<!-- 	</div> -->
<!-- 		<div> -->
<!-- 			<h2>Liste des Clients</h2> -->
<!-- 			<article ng-repeat="p in produits"> -->
<!-- 				<test /> -->
<!-- 			</article> -->
<!-- 		</div> -->
	
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular/angular-route.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
<script src="js/directives.js"></script>
</body>
</html>