<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../../css/style.css" />
</head>
<body>
<!-- 	<img src="image/raspberry/yWGmW.png" alt="raspberry" -->
<!-- 		style="width: auto; height: auto;"> -->


	<div class="container spacer" style="width: 100%; height: 100%;">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>desciption</th>
					<th>ping</th>
					<th>etat</th>
					<th>image</th>
					<th>etat</th>
					<th>ping</th>
					<th>desciption</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="bouton" >
						<a href="#" style="">3.3V PWR</a>
					</th class="bouton">
					<th class="bouton" >
						<a style="">1</a>
					</th class="bouton">
					<th class="bouton" >
						<a href="#" style="">etat</a>
					</th class="bouton">
					<th ><img src="image/raspberry/pin.PNG" alt="raspberry"
						></th>
					<th class="bouton" >
						<a style="">2</a>
					</th class="bouton">
					<th class="bouton" >
						<a href="#" style="">2</a>
					</th class="bouton">
					<th class="bouton" >
						<a style="">5V PWR</a>
					</th class="bouton">
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>