/* @ChARSET "UTF-8"; */
.spacer {
	margin-top: 30px;
}

.bouton a {
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  background: #84898c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.bouton a:hover {
  background: #4e6370;
  text-decoration: none;
}